body {
    font-family: "Roboto", sans-serif;
    margin: auto;
}

.logo {
    width: 35px;
    filter: invert(1);
}

.hero-section {
    height: 50vh;
    align-items: center;
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 5vw 20vw 40px;
}

.hero-section h1 {
    font-size: 48px;
}

.hero-section-info {
    margin-right: 40px;
}

.button-up {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    font-weight: bold;
    color: #f9faf8;
}

.hero-section-img {
    width: 300px;
}

.random-info {
    margin: auto;
    padding: 80px 20vw;
    text-align: center;
    color: #1f2937;
}

.cards-divider {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-img {
    width: 150px;
}

.card {
    border: solid 2px #eeeeee;
    border-radius: 10px;
    width: 200px;
    gap: 10%;
    flex: 1 0 auto;
    padding-top: 10px;
}

.card p {
    font-weight: bold;
}

header {
    min-width: 60vw;
    position: fixed;
    font-size: 18px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    color: #f9faf8;
    padding: 10px 20vw;
}

ul {
    display: flex;
    margin-left: auto;
    list-style: none;
}

.inspiring-quote-section {
    background-color: #eeeeee;
    padding: 80px 20vw;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    color: #1f2937;
}

.inspiring-quote-section p {
    margin: 0;
}

.author {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    margin: 0;
}

.signup-section {
    padding: 80px 20vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.signup-card {
    width: 400px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 40px 80px;
    border-radius: 10px;
}

.signup-card button {
    margin-left: auto;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 10px 25px;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    border-color: #f9faf8;
    color: #f9faf8;
}

.signup-card p, h3 {
    margin: 0;
}

a {
    margin: 0 20px;
    text-decoration: none;
    color: #f9faf8;
}

ul, li {
    margin: 0;
    padding: 0;
    margin-left: auto;
}

footer a {
    padding: 0;
    margin: 0;
}

footer {
    color: #f9faf8;
    background-color: #1f2937;
    text-align: center;
    padding: 15px 0 10px;
}